<!-- header-section start -->
<%- include('_header',{user}) %>
<!-- header-section end -->
<!-- register-section start -->
<%- include('_signup',{user,registrationError}) %>
<!-- register-section end -->
<!-- login-section start -->
<%- include('_login',{user}) %>
<!-- login-section end -->

    <form class="header-form">
        <div class="skip"><i class="fas fa-times"></i></div>
        <div class="header-form-area">
            <input type="text" placeholder="Search Here">
            <button type="submit"><i class="flaticon-search-interface-symbol"></i></button>
        </div>
    </form>


    <!-- banner-section start -->
    <section class="inner-banner-section pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="inner-banner-content">
                        <h2 class="title">Terms & Conditions</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->


    <!-- breadcrumb-section start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-section end -->
  
    
    <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
            
    <!-- privacy-details-section start  -->
    <div class="privacy-details-section pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <main class="col-lg-10">
                    <div class="privacy-details-wrapper">
                        <div class="details-area">
                            <div class="single-row"  id='#datacollect'>
                                <div class="left">
                                    <span class="row-title" >data collect</span>
                                </div>
                                <div class="right">
                                    <p>
                                        The member of the Wingmate Group that initially collects your personal information is responsible for its handling. 
                                        If a specific type of personal information is not covered in this Privacy Notice, the privacy notice provided at the time of collection will apply.
                                    </p>
                                    <br>
                                    <p>
                                        Providing your personal information to us is optional.
                                        However, if you choose not to provide certain information, we may only be able to offer you limited products and services.
                                    </p>
                                </div>
                            </div>
                            <div class="single-row">
                                <div class="left" id="cookies">
                                    <span class="row-title">how we use cookies</span>
                                </div>
                                <div class="right">
                                    <p>
                                        We use cookies, IP addresses, and other tracking technologies on our website, mobile applications, and mobile websites
                                         (collectively referred to as "the Platforms") to ensure proper functionality, for analytics, marketing, and to personalize the content you see.
                                        By using the Wingmate website and our mobile applications and mobile websites, you agree that we and third parties may store and
                                         access cookies and use other tracking technologies to enable Platform functionality, collect aggregated data about website usage, improve your online experience,
                                          and manage and tailor our advertising and service communications with you.
                                    </p>
                                    <br>
                                    <p>
                                        Wingmate Platforms use various types of cookies, including session cookies that are active only during your visit to the Platform
                                        and persistent cookies that remain for a set period after your visit. We use both first-party cookies, which are set by our Platforms,
                                        and third-party cookies, which are set by third-party platforms. Our Platforms utilize both session and persistent cookies, as well as both first-party and third-party cookies.
                                    </p>
                                    <ul class="top">
                                        <li>
                                            Essential Cookies - These cookies are critical for the operation of our Platforms, including enabling you to log in to secure areas of our websites, progress or
                                            complete a booking, or make use of other online services we provide.
                                        </li>
                                        <li>
                                            Functional Cookies - These cookies enable us to recognise you when you return to our Platforms and allow us to personalise our content for you,
                                            including greeting you by name
                                        </li>
                                        <li>
                                            Marketing Cookies - These cookies track your visit to our websites, the pages you have viewed, and the actions you have taken.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-row" >
                                <div class="left" id="security">
                                    <span class="row-title">security</span>
                                </div>
                                <div class="right">
                                    <p>
                                        We take reasonable measures to ensure that information you transmit to us using the Website remains confidential and protected from unauthorized access.
                                        However, we cannot guarantee that unauthorized access to your information will never occur. We will not be held liable for any such unauthorized access
                                        unless it is solely caused by our gross negligence. If this occurs, you may be entitled to compensation up to a maximum value of the services purchased by you
                                    </p>
                                </div>
                            </div>
                            <div class="single-row" id="otherwebsites">
                                <div class="left">
                                    <span class="row-title">Third party websites</span>
                                </div>
                                <div class="right">
                                    <p>
                                        You may come across external links to third-party websites on our Platforms. Please note that our Privacy Notice does not apply to your use of a third-party site.
                                        We are not responsible for the privacy practices of any website that is not operated by an entity within the Wingmate. We encourage you to read the privacy
                                        statements of any such third-party site before providing any personal information.
                                    </p>
                                </div>
                            </div>
                            <div class="single-row" id="propertyrights">
                                <div class="left">
                                    <span class="row-title">Intellectual property rights</span>
                                </div>
                                <div class="right">
                                    <p>
                                        The content and materials featured on our Platforms, including but not limited to text, graphics, logos, button icons, images, audio clips, digital downloads,
                                        data compilations, and software, are protected by various intellectual property laws and are owned by Wingmate, its affiliates, or its content suppliers.
                                        This includes trademarks, copyright, database rights, and other intellectual property rights. The organization and layout of our Platforms are also protected by such laws and treaties.
                                        All rights pertaining to these materials are reserved by the respective owners.
                                    </p>
                                </div>
                            </div>
                            <div class="single-row" id="websitebooking">
                                <div class="left">
                                    <span class="row-title">Website Booking</span>
                                </div>
                                <div class="right">
                                    <p>
                                        You have the option to book tickets on the Website without registering, but we encourage you to register with Wingmate to enjoy the benefits of storing your personal information in your profile.
                                        This will save you time from re-entering your information each time you log in and book travel on the Website. If you are not yet a member, you can register before booking. We suggest filling
                                        in your personal preferences to assist us in providing you with the best service possible and to streamline future inquiries and bookings.
                                    </p>
                                    <br>
                                    <p>
                                        It is important to keep your Login/ID, booking reference, and password secure and not share it with anyone outside of your immediate household. You should not grant access to your account to any
                                        third-party online service, including mileage tracking, management, or aggregation services. You are responsible for all activities that occur under your account, and should take necessary measures
                                        to safeguard your password and/or booking reference. Please inform us immediately if you suspect that your password has been compromised or is being used without authorization.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
            
        </div>
    </div>
    <!-- privacy-details-section end  -->
    <br><br><br><br>

    <%- include('_footer',{user}) %>


